html, body {
    background-color: #21232A;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 20px;
    color: #FFFFFF;
}

button {
    padding: 10px 25px;
    font-size: 1.3rem;
    margin: 5px;
}